In [1]:
 import pandas as pd

In [3]:
train=pd.read_csv(r"G:\Sanjay_Data_Science\DataScience material\DS_Case_Study_beer-ratings_2020\DS_Case_Study_beer-ratings_2020\train.csv")

In [4]:
train.head()

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,"{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",1229398690,NaN,NaN,NaN,NaN,RblWthACoz
1,8135,11.0,3003,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,"{'min': 38, 'hour': 23, 'mday': 8, 'sec': 58, ...",1218238738,NaN,NaN,NaN,NaN,BeerSox
2,10529,4.7,961,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,"{'min': 7, 'hour': 18, 'mday': 26, 'sec': 2, '...",1101492422,NaN,NaN,NaN,Male,mschofield
3,44610,4.4,429,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,2.5,3.0,3.0,First thing I noticed after pouring from green...,"{'min': 7, 'hour': 1, 'mday': 20, 'sec': 5, 'y...",1308532025,1.209827e+09,"Aug 10, 1976",208508400.0,Male,molegar76
4,37062,4.4,4904,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,"{'min': 51, 'hour': 6, 'mday': 12, 'sec': 48, ...",1299912708,NaN,NaN,NaN,NaN,Brewbro000

In [5]:
y=train["review/overall"]

In [6]:
X=train.drop(["index","beer/name","review/overall","review/text","review/timeStruct","user/profileName"],axis=1)

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 13 columns):
beer/ABV             37500 non-null float64
beer/beerId          37500 non-null int64
beer/brewerId        37500 non-null int64
beer/style           37500 non-null object
review/appearance    37500 non-null float64
review/aroma         37500 non-null float64
review/palate        37500 non-null float64
review/taste         37500 non-null float64
review/timeUnix      37500 non-null int64
user/ageInSeconds    7856 non-null float64
user/birthdayRaw     7856 non-null object
user/birthdayUnix    7856 non-null float64
user/gender          15314 non-null object
dtypes: float64(7), int64(3), object(3)
memory usage: 3.7+ MB

In [8]:
X=pd.get_dummies(X,columns=["beer/style","user/birthdayRaw","user/gender"])

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Columns: 1539 entries, beer/ABV to user/gender_Male
dtypes: float64(7), int64(3), uint8(1529)
memory usage: 57.5 MB

In [10]:
X.dtypes

beer/ABV                        float64
beer/beerId                       int64
beer/brewerId                     int64
review/appearance               float64
review/aroma                    float64
                                 ...
user/birthdayRaw_Sep 9, 1982      uint8
user/birthdayRaw_Sep 9, 1983      uint8
user/birthdayRaw_Sep 9, 1988      uint8
user/gender_Female                uint8
user/gender_Male                  uint8
Length: 1539, dtype: object

In [11]:
X.shape

(37500, 1539)

In [12]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Columns: 1539 entries, beer/ABV to user/gender_Male
dtypes: float64(7), int64(3), uint8(1529)
memory usage: 57.5 MB

In [13]:
X.isna()

,beer/ABV,beer/beerId,beer/brewerId,review/appearance,review/aroma,review/palate,review/taste,review/timeUnix,user/ageInSeconds,user/birthdayUnix,...,"user/birthdayRaw_Sep 7, 1986","user/birthdayRaw_Sep 8, 1980","user/birthdayRaw_Sep 8, 1981","user/birthdayRaw_Sep 8, 1982","user/birthdayRaw_Sep 8, 1987","user/birthdayRaw_Sep 9, 1982","user/birthdayRaw_Sep 9, 1983","user/birthdayRaw_Sep 9, 1988",user/gender_Female,user/gender_Male
0,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
37496,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
37497,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
37498,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
37499,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False

In [14]:
X=X.fillna(0)

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Columns: 1539 entries, beer/ABV to user/gender_Male
dtypes: float64(7), int64(3), uint8(1529)
memory usage: 57.5 MB

In [16]:
X.isna()

,beer/ABV,beer/beerId,beer/brewerId,review/appearance,review/aroma,review/palate,review/taste,review/timeUnix,user/ageInSeconds,user/birthdayUnix,...,"user/birthdayRaw_Sep 7, 1986","user/birthdayRaw_Sep 8, 1980","user/birthdayRaw_Sep 8, 1981","user/birthdayRaw_Sep 8, 1982","user/birthdayRaw_Sep 8, 1987","user/birthdayRaw_Sep 9, 1982","user/birthdayRaw_Sep 9, 1983","user/birthdayRaw_Sep 9, 1988",user/gender_Female,user/gender_Male
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
X=X.fillna(method='ffill')

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
y.value_counts()

4.0    13868
4.5     8666
3.5     6551
3.0     3319
5.0     2671
2.5     1193
2.0      807
1.5      248
1.0      176
0.0        1
Name: review/overall, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler=MinMaxScaler()

In [24]:
X_train=scaler.fit_transform(X_train)

In [25]:
X_test=scaler.transform(X_test)

In [26]:
import seaborn as sns

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
Random=RandomForestRegressor()

In [29]:
Random.fit(X_train,y_train)

G:\Sanjay_Data_Science\Data_Science_Software\Anaconda\run2\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [30]:
Random.score(X_test,y_test)

0.6268512015264597

In [32]:
from sklearn.ensemble import AdaBoostRegressor

In [33]:
ada=AdaBoostRegressor()

In [34]:
ada.fit(X_train,y_train)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

In [35]:
ada.score(X_test,y_test)

0.6115045194976373

In [36]:
from sklearn.ensemble import GradientBoostingRegressor

In [37]:
forestboost=GradientBoostingRegressor()

In [38]:
forestboost.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [39]:
forestboost.score(X_test,y_test)

0.6869955497702027